.btn {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 129%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  &--light {
    color: @special_dark-grey;
    background-color: @basic-grey;
  }
  &--color {
    color: @basic-white;
    background-color: @basic-green;
  }
}
