.diet {
  @media (min-width: @desktop) {
    display: flex;
    gap: 80px;
  }

  &__nutrition {
    background-color: @basic-grey;
    margin-top: 22px;
    display: flex;
  }

  &__tittle {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 154%;
    text-transform: uppercase;

    color: @basic-black;
  }

  &__text {
    font-size: 14px;
    line-height: 129%;
    color: @special_dark-grey;
  }

  &__catalog {
    &-tittle {
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;

      color: @basic-black;

      @media (max-width: @mobile) {
        margin-right: 17px;
      }

      @media (min-width: @tablet) {
        margin-right: 25px;
      }

      @media (min-width: @desktop) {
        margin-right: 27px;
      }
    }

    &-link {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  &__img {
    border-radius: 50%;
    background-color: #68b738;

    @media (max-width: @mobile) {
      width: 53px;
      height: 53px;
    }

    @media (min-width: @tablet) {
      width: 211px;
      height: 211px;
      order: 2;
    }

    @media (min-width: @desktop) {
      width: 106px;
      height: 106px;
    }
  }
}
