.comparison__img {
  &--before {
    background-image: url("../img/before-mobile@1x.png");
    background-repeat: no-repeat;
    width: 311px;
    height: 322px;
    display: none;
  }
  &--after {
    background-image: url("../img/after-mobile@1x.png");
    background-repeat: no-repeat;
    width: 311px;
    height: 322px;
    display: none;
  }
  &--active {
    display: block;
  }
}

.example {
  &__tittle {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: @basic-black;
  }
  &__text {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 129%;
    color: @special_dark-grey;
  }
  &__list {
    list-style: none;
    padding-left: inherit;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 124px;
    &-text {
      font-size: 12px;
      line-height: 100%;
      align-items: center;
      text-align: center;
      color: @special_dark-grey;
    }
  }
  &__roll {
    border: 1px solid @special_grey;
    border-radius: 5px;
  }
  &__total {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: @basic-black;
  }
}

.result__total--expenses {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;
}

.comparison {
  &__btn {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
  }
  &__range {
    display: flex;
    width: 288px;
    justify-content: space-between;
    align-items: center;
  }
  &__progress {
    width: 84px;
    height: 14px;
    border-radius: 6px;
    background-color: @basic-white;
  }
  &__toggle {
    background-color: @basic-green;
    width: 35px;
    height: 6px;
    border-radius: 6px;
    display: flex;
    align-items: start;
    margin: 4px 6px;
  }
}
