.instruction {
  &__tittle {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    line-height: 111%;
    text-align: start;
    color: @basic-black;
  }

  &__item {
    display: flex;
  }

  &__text {
    font-size: 14px;
    line-height: 129%;
    color: @special_dark-grey;
    padding-left: 20px;
  }

  &__list {
    list-style: none;
    padding-left: inherit;

    @media (min-width: @tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @desktop) {
      display: flex;
    }
  }

  &__illustration {
    width: 60px;
    height: 60px;
    background-color: @basic-green;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
  }
}
