.invitation {
  &__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 112%;
    text-transform: uppercase;
    color: @basic-black;
    width: 50%;
    margin: 0;
  }

  &__text {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 143%;
    color: @special_dark-grey;
    display: block;
    width: 50%;
    margin: 0;
  }

  &__street,
  &__city {
    margin: 0;
  }

  &__map {
    background-image: url("../img/bg-map-mobile@1x.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 362px;

    @media (min-width: @tablet) {
      background-image: url("../img/bg-map-tablet@1x.png");
      width: 767px;
      height: 400px;
    }

    @media (min-width: @desktop) {
      background-image: url("../img/bg-map-desktop@1x.png");
      width: 1440px;
      height: 400px;
    }
  }

  &__box {
    display: flex;
  }
}
