.invitation {
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 22px;
  }
}

.invitation__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: @basic-black;
  width: 50%;
  margin: 0;
}

.invitation__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 143%;
  color: @special_dark-grey;
  display: block;
  width: 50%;
  margin: 0;
}

.invitation__street,
.invitation__city {
  margin: 0;
}

.invitation__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 362px;
}
