.social {
  display: flex;
  justify-content: space-between;
  width: 130px;
  &__item {
    list-style: none;
  }
}

.page-footer {
  display: grid;
  justify-items: center;
}

.developer {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 281px;
  &__name {
    font-size: 16px;
    line-height: 112%;
    color: @special_dark-grey;
  }
}
