.product {
  &__title {
    &--text {
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 125%;
      text-transform: uppercase;
      color: @special_dark-grey-2;

      @media (min-width: @tablet) {
        font-size: 20px;
        line-height: 120%;
      }

      @media (min-width: @desktop-min) {
        line-height: 105%;
      }
    }
  }

  &__options {
    width: 100%;

    &-cell {
      font-size: 12px;
      line-height: 133%;
      text-align: center;
      color: @special_dark-grey;

      @media (min-width: @tablet) {
        font-size: 16px;
        line-height: 100%;
      }

      &--tittle {
        text-align: start;
      }

      &--value {
        text-align: end;
      }
    }
  }

  &-more {
    @media (min-width: @desktop-min) {
      display: flex;
      gap: 80px;
    }

    &__title {
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 125%;
      text-align: start;
      text-transform: uppercase;
      color: @basic-black;

      @media (min-width: @tablet) {
        font-size: 20px;
        line-height: 100%;
      }
    }

    &__text {
      font-size: 12px;
      line-height: 133%;
      text-align: center;
      color: @special_dark-grey;
    }

    &__item {
      list-style: none;
    }

    &__info {
      width: 100%;

      &-cell {
        font-size: 12px;
        line-height: 133%;
        color: @special_dark-grey;

        @media (min-width: @tablet) {
          font-size: 16px;
          line-height: 100%;
        }

        @media (min-width: @desktop-min) {
          line-height: 125%;
        }

        &--quantity {
          text-align: start;
        }

        &--price {
          text-align: end;
        }
      }
    }

    &__list {
      list-style: none;
      padding-left: 0;
    }

    &__wrapper {
      @media (min-width: @tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    &__column {
      width: 100%;
    }

    &__row {
      @media (min-width: @desktop-min) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 80px;
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: @tablet) {
      display: block;
      text-align: center;
    }
  }
}
