.promo {
  @media (max-width: @mobile) {
    background-image: url("../img/index-background-mobile 1.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop) {
    background-image: url("../img/index-background-desktop@1x.jpg");
    width: 100%;
    height: 696px;
    background-repeat: no-repeat;
    background-position: right;
  }

  position: relative;

  &__tittle {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 100%;
    text-align: center;

    color: @basic-white;

    @media (min-width: @tablet) {
      color: @basic-black;
      font-size: 60px;
      line-height: 100%;
      margin-left: 97px;
      margin-right: 217px;
      align-content: start;
    }
  }

  &__text {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;

    color: @basic-white;

    @media (min-width: @tablet) {
      margin-left: 97px;
      color: @basic-black;
      font-size: 20px;
      line-height: 100%;
    }
  }

  &__img {
    @media (max-width: @mobile) {
      background-image: url("../img/index-can-mobile 1.png");
      margin-top: 29px;
      width: 280px;
      height: 270px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: @tablet) {
      background-image: url("../img/index-can-tablet@1x.png");
      width: 552px;
      height: 609px;
      margin-left: auto;
      margin-right: auto;
    }

    background-repeat: no-repeat;
  }
}
